<body>
  <div class="header-logo-container">
    <div class="header-logo-image">
      <img src="../assets/images/icon.jpg" class="logo-image">
    </div>
    <span class="header-logo-span">Luis Parente</span>
  </div>
  <div class="header-main">
    <ul class="header-links">
      <ul class="header-link-wrapper">
        <a class="header-link" href="./home">Home</a>
      </ul>
      <ul class="header-link-wrapper">
        <a class="header-link" href="./about">About</a>
      </ul>
      <ul class="header-link-wrapper">
        <a class="header-link" href="./projects">Projects</a>
      </ul>
      <ul class="header-link-wrapper">
        <a class="header-link" href="./contact">Contact</a>
      </ul>
    </ul>
  </div>
</body>